@font-face {
    font-family: 'kendeNeveBetu';
    src: url(fontok/Slaytanic.ttf);
}

@font-face {
    font-family: 'alexNeveBetu';
    src: url(fontok/Dark\ Magic.ttf);
}
@font-face {
    font-family: 'godofwar';
    src: url(fontok/GODOFWAR.TTF);
}

@font-face {
    font-family: 'portfolioWordType';
    src: url(fontok/ka1.ttf);
}

@font-face {
    font-family: 'konzolosWordType';
    src: url(fontok/konzolok.ttf);
}


@font-face {
    font-family: 'alexOs';
    src: url(fontok/Techno.ttf);
}


@font-face {
    font-family: 'graffiti';
    src: url(fontok/DonGraffiti.otf);
}

body {
background-image: url(képek/hatter.png);
}

main {
    opacity: 100%;
    background-color: #18191a;
    /* padding-top: 1cm; */
    
    margin-top: 1cm;
    margin-left: 4cm;
    margin-right: 4cm;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: "h h h" 
                         "n n n"  
                         "a a a"
                         "f f f";
    border:  solid 1px black;                        
    color:white
}

header {
    background-image: url(képek/istock-1204293505.jpg);
    grid-area: h;
    text-align: center;
    border: solid 3px white;
}

nav {
    grid-area: n;
    text-align: center;
    
}
article {
    grid-area: a;
    grid-template-columns: 1fr 3fr 2fr;
}

footer{
    grid-area: f;
    
    
}



#alKe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px black;     
    
    
}

#text {
    
    height: 1cm;
    background: linear-gradient(45deg, #FFE4E4, #B89999, #9C0000, #4E0000, #9C0000, #B89999, #FFE4E4);
    background-size: 40%;
    font-family:'portfolioWordType';
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.75cm;
    color: white;
    -webkit-text-fill-color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    animation: kozepsoSzovegAtetszese 10s linear infinite;
}
@keyframes  kozepsoSzovegAtetszese{
    0%{
        background-position: 0%;
        
    }
    100%{
        
        background-position: 100%;
    }
    
}




#progamLec {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    list-style-type:none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: #333;
    
    
}
.javaBlokk {
    border: solid white;
    
}
.htmlBlokk {
    border: solid white;
    
    
}
.pythonBlokk {
    border: solid white;
    
    
}
.alexColor {
    font-family: 'alexOs';
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 60%;
    -webkit-text-fill-color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    animation: animacio 10s linear infinite;
    /* border-left: solid 3px white; */
}
@keyframes animacio{
    0%{
        background-position: 0%;
        
    }
    100%{
        
        background-position: 200%;
    }
    
}





.keniColor {
    font-family: 'graffiti';
    background: linear-gradient(90deg, #8A2E60, #AA7C39, #343477, #8A2E60, #BFAF00, #8BB600);
    /* background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000 ); */
    background-size: 40%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 10s linear infinite;
}



@keyframes animate {
    0%{
        background-position: 0%;
        
    }
    100%{

        background-position: 200%;
    }
    
}


.kozepsoFocim {
    -webkit-text-stroke: 0.3vw #AA3939;
    text-transform: uppercase;
    
} 
.kozepsoFocim::before {
    content: attr(data-text);
    color: #AA9B39;
    -webkit-text-stroke: 0vw #313A75;
    overflow: hidden;
    animation: beCsuszas 6s linear infinite;
    
}
@keyframes beCsuszas {
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}

.rolunkBorder{
    border: solid 3px white;


}


.midH3 {
    text-align: center;
    font-family: 'godofwar';
    
}   


.profilkepAlex {
    border: 3px solid white;
    grid-template-columns: 0fr 1fr 3fr;
    display: grid;
    /* padding: 1.5px; */
    /* padding-right: 5cm; */
}
.neveA {
    font-size: 1cm;
    font-family: 'alexNeveBetu';
    text-align: left;
    padding-top: 1cm;
    padding-left: 1cm;
}
.infiA {
    text-align: center;
    padding-right: 10cm;
    padding-top: 1.5cm;
}

.profilkepKende {
    border:  solid 3px white;
    grid-template-columns: 0fr 1fr 3fr;
    display: grid;

}
.neveK {
    font-size: 1cm;
    font-family: 'kendeNeveBetu';
    text-align: left;
    padding-top: 1cm;
    padding-left: 1cm;

}

.infiK {
    text-align: center;
    padding-right: 10cm;
    padding-top: 1.5cm;

}

.footerFocim {
    font-family: 'godofwar';
    text-align: center;


}
.elerhetoseg {
    text-align: center;


}
.elerhetosegiTartalmak {
    border: solid white 3px;

}