@font-face {
    font-family: 'portfolioWordType';
    src: url(fontok/infinit.ttf);
}

@font-face {
    font-family: 'konzolosWordType';
    src: url(fontok/konzolok.ttf);
}


@font-face {
    font-family: 'alexOs';
    src: url(fontok/feketegolyó.ttf);
}


@font-face {
    font-family: 'graffiti';
    src: url(fontok/DonGraffiti.otf);
}

body {
background-image: url(képek/hatter.png);
}

main {
    opacity: 100%;
    background-color: #18191a;
    /* padding-top: 1cm; */
    
    margin-top: 1cm;
    margin-left: 4cm;
    margin-right: 4cm;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: "h h h" 
                         "n n n"  
                         "a a a"
                         "f f f";
    border:  solid 1px black;                        
    color:white
}

header {
    background-image: url(képek/istock-1204293505.jpg);
    grid-area: h;
    text-align: center;
    border: solid 3px white;
}

nav {
    grid-area: n;
    text-align: center;

}
article {
    grid-area: a;
    
}

footer{
    grid-area: f;
    
    
}



#alKe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px black;     
    

}

#text {
    
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.75cm;
    color: white;
    border: solid 1px white;
    font-family:'portfolioWordType';
}




#progamLec {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
      list-style-type:none;
      margin: 0;
      padding: 0;
      /* overflow: hidden; */
      background-color: #333;


}
.javaBlokk {
    border: solid white;
    
}
.htmlBlokk {
    border: solid white;
    
    
}
.pythonBlokk {
    border: solid white;
    

}
.alexColor {
    font-family: 'alexOs';
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 40%;
    -webkit-text-fill-color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    animation: animacio 10s linear infinite;

}
@keyframes animacio{
    0%{
        background-position: 0%;

    }
    100%{

        background-position: 200%;
    }

}





.keniColor {
    font-family: 'graffiti';
    background: linear-gradient(90deg, #8A2E60, #AA7C39, #343477, #8A2E60, #BFAF00, #8BB600);
    /* background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000 ); */
    background-size: 40%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 10s linear infinite;
}



@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 200%;

    }

}


.kozepsoFocim {
    -webkit-text-stroke: 0.3vw #AA3939;
    text-transform: uppercase;

} 
.kozepsoFocim::before {
    content: attr(data-text);
    color: #AA9B39;
    -webkit-text-stroke: 0vw #313A75;
    overflow: hidden;
    animation: beCsuszas 6s linear infinite;

}
@keyframes beCsuszas {
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
 }