body {
background-image: url(képek/madam.jpg); 

}

main {
    margin-top: 0.5cm;
    margin-left: 2cm;
    margin-right: 2cm;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas: "h h h" 
                         "n n n"  
                         "a a a"
                         "f f f";
    border:  solid 1px black;                        
    color:white
}

header {
    grid-area: h;
    text-align: center;
    border: solid 1px black;
}

nav {
    grid-area: n;
    text-align: center;

}
article {
    grid-area: a;

}

footer{
    grid-area: f;

}

.fejlecAlex {
   border: solid 1px black;
    
}
.fejlecKende {
    border: solid 1px black;     

}